---
import BaseLayout from '@/layouts/BaseLayout.astro';
import SeeAlsoIndex from '@/components/seealso/SeeAlsoIndex.astro';
import ToolContainer from '@/components/tool/ToolContainer.tsx';
const { tool } = Astro.props;
---
<BaseLayout 
  name={tool.name}
  title={tool.title}
  path={tool.path}
  description={tool.description}
  canonical={tool.canonical}
  keywords={tool.keywords}
  ogImage={tool.ogImage}
  twitterImage={tool.twitterImage}
  datePublished={tool.datePublished}
  softwareVersion={tool.softwareVersion}
  features={tool.features}
>
  <ToolContainer>
    <slot />
    <div class="mt-12">
      <SeeAlsoIndex />
    </div>
  </ToolContainer>
</BaseLayout>
