---
// import type { Banner } from '../../../db/banner/banner-schema';
// import {
//   getRandomBanner,
//   getTotalBanners,
// } from '../../../db/banner/banner-utils';

// Get a random banner from the database
// const totalBanners = getTotalBanners();
// console.log('[Banner] Total banners in database:', totalBanners);

// const banner: Banner | null = getRandomBanner();
// console.log(
//   '[Banner] Random banner fetched:',
//   banner
//     ? {
//         id: banner.id,
//         name: banner.name,
//         product_name: banner.product_name,
//         link_type: banner.link_type,
//         has_html_link: !!banner.html_link,
//         has_js_links: !!banner.js_links,
//         html_link_preview: banner.html_link
//           ? banner.html_link.substring(0, 100) + '...'
//           : 'none',
//       }
//     : 'null'
// );
---

<!-- 
{
  banner ? (
    <aside
      role="complementary"
      aria-label="Advertisement"
      data-banner-name={banner.name}
      data-banner-type={banner.link_type}
    >
      <p class="ad-label ad-disclosure">Sponsored</p>
      {banner.link_type === 'banner' ? (
        <div
          id={banner.name}
          class="w-full bg-yellow-100 border border-gray-200 shadow-sm rounded-md  relative transition-colors duration-300
            mb-8 mt-0
            md:mb-10 md:mt-2
            justify-center items-center flex"
        >
          <div
            class=" px-4 py-2 
              md:px-6 md:py-6"
            set:html={banner.html_link}
          />
          {banner.js_links && <div set:html={banner.js_links} />}
        </div>
      ) : (
        <div
          id={banner.name}
          class="w-full bg-yellow-100 border border-gray-200 shadow-sm rounded-md  relative transition-colors duration-300 block
            mb-8 mt-0
            md:mb-10 md:mt-2"
        >
          <div
            class="h-full flex flex-col justify-center 
             "
          >
            <div
              class=" px-4 py-2 
              md:px-6 md:py-6
               text-black [&_a]:text-blue-600 [&_a]:dark:text-blue-400 [&_a]:underline [&_a]:hover:no-underline [&_a]:font-normal"
              set:html={banner.html_link}
            />
          </div>
          {banner.js_links && <div set:html={banner.js_links} />}
        </div>
      )}
    </aside>
  ) : (
    <div class="w-full my-8 flex justify-center items-center">
      <p class="text-sm text-gray-500">No banners available</p>
    </div>
  )
}

<script>
  console.log('[Banner] Component rendered');
  const bannerContainer = document.querySelector('.w-full.my-8');
  if (bannerContainer) {
    console.log('[Banner] Banner container found:', bannerContainer);
    console.log('[Banner] Banner container HTML:', bannerContainer.innerHTML);
  } else {
    console.log('[Banner] Banner container NOT found');
  }
</script> -->{
  (
    <aside role="complementary" aria-label="Advertisement">
      {/* <p class="ad-label ad-disclosure">Sponsored</p> */}
      {/* 
      <div
        id={banner.name}
        class="w-full bg-yellow-100 border border-gray-200 shadow-sm rounded-md  relative transition-colors duration-300 block
            mb-8 mt-0
            md:mb-10 md:mt-2"
      >
        <div
          class="h-full flex flex-col justify-center 
             "
        > */}
      <div class="px-4 md:px-6 pt-2 text-center">
        <a
          rel="noopener noreferrer"
          target="_blank"
          href="https://docs.google.com/forms/d/e/1FAIpQLSeW3ak1Uu3yv8WDBsFP5CSg0HUQh7cdYd8_gtlLCaJIoqHUSQ/viewform?usp=dialog"
          class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-medium md:font-bold  py-2 px-6 rounded shadow transition-all duration-200"
        >
          Advertise Here
        </a>
      </div>
    </aside>
    //
  )
}
